h1 {
	margin-bottom: 30px;
}
.col-xs-12 {
	background-color: #C0C0C0;
}
p {
	margin: 20px 10px 20px 10px;
}
#nav-list {
	margin-top: 10px;
	background-color: white;
	
	margin-bottom: 0;
	margin-top: 0;
}
#nav-list a {
	text-align: center;
	border: 1px solid black;
	
	color: black;
	font-weight: bold;
	font-size: 1.5em;

}
#nav-list a:hover {
	background-color: #C0C0C8;
}
#header-nav {
	background-color: #C0C0C0;
	border-radius: 0;
	border: 2px solid black;
	}
.navbar-header {
	margin-bottom: 20px;
}
.navbar-default .navbar-brand {
	color: black;
}

 @media (max-width: 767px) {
 	.row {
 		margin-left: 25px;
 		margin-right: 25px;
 	}
 }